* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(103, 103, 140);
}

h1 {
  text-align: center;
  padding: 20px;
  background-color: rgb(6, 4, 30);
  color: white;
}

.score-container {
  text-align: center;
  font-size: 1.5rem;
}

h4 {
  padding: 10px 0px;
  font-size: 2rem;
  border: solid 3px rgb(6, 4, 30);
  background-color: rgb(152, 152, 188)
}

.person-form {
  margin: 2rem 10rem;
}

.form-questions {
  text-align: center;
  padding: 0px 0px;
  margin: 30px 35%;
}

.form-input-radios {
  padding: 30px;
  border: solid 3px rgb(170, 170, 195);
  background-color: rgb(174, 174, 206);
}

.form-check-label {
  font-size: 1.2rem;
}

.btn-section {
  text-align: center;
  padding: 30px
}

button {
  padding: 10px 25px;
}

.btn-primary {
  background-color: rgb(6, 4, 30);
  border-color: rgb(6, 4, 30);
}

.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(6, 4, 30);
  border-color: white;
}